/***********************************/

/* NAVBAR HORIZONTAL */
.nav-container {
    width: 100%;
    background-color: #b3e0ff;
    box-shadow: 2px 2px 20px #005c99;
    position: fixed;
    left: 0;
    top: 0;
}

.nav-container ul {
    width: 100%;
    margin: auto;
    padding: 0;
    /*Ul would have default padding otherwise*/
    list-style-type: none;
    font-size: 20px;
    font-family: 'Bungee Inline', cursive;
}

.nav-container li {
    float: left;
    /*each seperate item tries to float left*/
}

.nav-container a {
    display: block;
    /*let’s us treat each link as a box, which can be sized and styled*/
    box-sizing: border-box;
    /*allows the "width" to include borders and padding*/
    width: 130px;
    padding: 10px;
    text-decoration: none;
    /*removes the default underline*/
    text-align: center;
    color: #66ffe0;
}

.nav-container a:link {
    background-color: #4db8ff;
    /*colors the buttons initially*/
}

.nav-container a:visited {
    background-color: #005580;
    /* changes link-box color when already visited*/
}

.nav-container a:hover {
    background-color: #ffff4d;
    /* changes link-box color on rollover*/
}

.nav-container a:active {
    background-color: #000000;
    /* changes link-box color on click only*/
}

/***********************************/


.center-responsive {
    /* use to center photos */
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: solid 20px #d0e2e2;
}

.right-responsive {
    max-width: 100%;
    max-height: 100%;
    float: right;
    margin: 0 0 25px 25px;
    border: solid 5px #a0c5c5;
}

.left-responsive {
    max-width: 100%;
    max-height: 100%;
    float: left;
    margin: 0 25px 25px 0;
    border: solid 5px #a0c5c5;

}

/***********************************/




body {
    margin: 80px 15% 50px 15%;
    background-color: #eff5f5;
    /* A Google Font*/
    font-family: 'Gentium Basic', serif;
    color: black;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
    font-family: 'Bungee Inline', cursive;
    color: #0099cc;
}

h2 {
    font-size: 25px;
    margin-bottom: 0;
    font-family: 'Bungee Inline', cursive;
    color: #0099cc;
}

h3 {
    font-size: 22px;
    margin-bottom: 0;
    font-family: 'Bungee Inline', cursive;
    color: #008080;
}

p {
    text-align: justify;
    color: #002e4d;
}
