/*preset*/

* {
    font-family: helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h4 {
    font-family: verdana;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    background: #3D52D5;
    color: aliceblue;
    font-size: 16px;
}

.btn:hover {
    background: #433191;
    color: #C5BAF5;
}


/*Nav*/

header {
    position: relative;
}

header img {
    padding: 10px;
    display: block;
}

nav {
    position: absolute;
    top: 41px;
    right: 37px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 10px;
    /*border: 1px solid #3D52D5;*/
    border-radius: 5px;
    color: #016FB9;
    text-decoration: none;
}

nav a:hover {
    color: #433191;
    border: 1px solid #3D52D5;
    padding: 9px;
}


/*hero*/

#hero {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero div {
    color: aliceblue;
    padding: 20px;
    text-align: center;
    max-width: 2400px;
    border-radius: 10px;
}

#hero h1,
#hero p {
    margin-bottom: 20px;
    font-size: 50px;
}


/*portfolio*/

#port {
    padding: 40px 0px;
}

#port h1,
#port p {
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
}

#port img {
    max-width: 100%;
    /*   border-radius: 50%;*/
    border: 5px solid black;
}

#port .col {
    padding: 10px;
    text-align: center;
}


/* column */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
}

.c3 {
    width: 33.333333%;
}

.c2 {
    width: 50%;
}

.c4 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #3399ff;
}

/*cta*/

#cta {
    padding: 40px 0px;
    text-align: center;
    background: linear-gradient(#fff, #C5BAF5, #7969C2);
}

#cta h1,
#cta p {
    margin-bottom: 20px;
}


/*footer*/

footer {
    clear: both;
    padding: 20px 0px;
    text-align: center;
}

footer p {
    font-size: 14px;
}


/*Text Sliding Animation*/

.content {
    width: 100vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-wrapper {
    font-size: 40px;
    color: #aaa;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 50px;
    padding-left: 15px;
    overflow: hidden;
}

.slider div {
    color: #fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
}

.slider-text1 {
    background: lightgreen;
    animation: slide 5s linear infinite;
}

.slider-text2 {
    background: skyblue;
}

.slider-text3 {
    background: lightcoral;
}

@keyframes slide {
    0% {
        margin-top: -300px;
    }

    5% {
        margin-top: -200px;
    }

    33% {
        margin-top: -200px;
    }

    38% {
        margin-top: -100px;
    }

    66% {
        margin-top: -100px;
    }

    71% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}
